@page
@model IndexModel
@{
    ViewData["Title"] = "Tommy's Community App";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <p>See which cities reside in which provinces by clicking the links above!</p>
</div>